<h1>Add New Discount for <%= @merchant.name %></h1>

<%= form_with url: merchant_discounts_path(@merchant), method: :post, local: true do |form| %>
  <%= form.label :percentage %>
  <%= form.number_field :percentage, value: @discount.percentage %>

  <br><br>

  <%= form.label :quantity_threshold %>
  <%= form.number_field :quantity_threshold, value: @discount.quantity_threshold %>

  <%= form.submit "Add New Discount" %>
<% end %>
